
.icon-ok:before { content: '\e800'; } /* '' */
.icon-arrow:before { content: '\e801'; } /* '' */
.icon-repeat:before { content: '\e802'; } /* '' */
.icon-info:before { content: '\e803'; } /* '' */
.icon-dot-3:before { content: '\e804'; } /* '' */
.icon-dot:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */